<section class="teacher">
    <section class="tableTeacher">
        <section class="searchTeacher">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Buscar Profesor</mat-label>
                <input matInput (keyup)="searchTeacher($event)">
            </mat-form-field>
        </section>
        <section class="buttonActions">
            <button mat-button color="primary" (click)="openDialog()">Nuevo Profesor</button>
        </section>
        <app-table-teachers
            [data]="(teacher$ | async) || []"
            (deleteElement)="deleteTeacher($event)"
            (editElement)="openDialogEdit($event)"
            ></app-table-teachers>
    </section>
    
</section>
