<ul [ngStyle]="{ listStyle: 'none' }">
  <li
    *ngFor="let alumno of alumnos"
    [ngStyle]="{
      color: estaDentroDelPremio(alumno.fechaInscripcion) ? 'green' : 'red'
    }"
  >
    {{ alumno.apellidos | uppercase }}, {{ alumno.nombres }} -
    {{ alumno.fechaInscripcion | date : "dd-MM-yyyy" }}
  </li>
</ul>

<h3>Ganadores del premio de inscripción</h3>
<ul [ngStyle]="{ listStyle: 'none' }">
  <li *ngFor="let alumno of alumnos">
    <p *ngIf="!!estaDentroDelPremio(alumno.fechaInscripcion)">
      {{ alumno.apellidos | uppercase }}, {{ alumno.nombres }}
    </p>
  </li>
</ul>
