<h2 mat-dialog-title>{{ data.message }}</h2>
<div mat-dialog-content class="formStyle">
  <form class="formulario" [formGroup]="formTeacher">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstName" />
      <mat-hint>Escriba los nombres del alumno</mat-hint>
      <mat-error *ngIf="formTeacher.controls['firstName'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName" />
      <mat-hint>Escriba los apellidos del alumno</mat-hint>
      <mat-error *ngIf="formTeacher.controls['lastName'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogClose()">Cancelar</button>
  <button
    mat-button
    type="submit"
    [disabled]="formTeacher.invalid"
    (click)="onSubmit()"
  >
    Action
  </button>
</div>